courses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- ============================================================
       EduNova — courses.xsd
       XSD Schema for validating courses.xml
       ============================================================ -->

  <!-- Root element -->
  <xs:element name="catalog" type="CatalogType"/>

  <!-- ---- CatalogType ---- -->
  <xs:complexType name="CatalogType">
    <xs:sequence>
      <xs:element name="metadata" type="MetadataType"/>
      <xs:element name="courses"  type="CoursesType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ---- MetadataType ---- -->
  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="platform"      type="xs:string"/>
      <xs:element name="version"       type="xs:string"/>
      <xs:element name="lastUpdated"   type="xs:date"/>
      <xs:element name="totalCourses"  type="xs:positiveInteger"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ---- CoursesType (container) ---- -->
  <xs:complexType name="CoursesType">
    <xs:sequence>
      <xs:element name="course" type="CourseType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ---- CourseType ---- -->
  <xs:complexType name="CourseType">
    <xs:sequence>
      <xs:element name="title"            type="xs:string"/>
      <xs:element name="category"         type="CategoryEnum"/>
      <xs:element name="instructor"       type="InstructorType"/>
      <xs:element name="price"            type="PriceType"/>
      <xs:element name="originalPrice"    type="PriceType"/>
      <xs:element name="discount"         type="PercentType"/>
      <xs:element name="rating"           type="RatingType"/>
      <xs:element name="reviewCount"      type="xs:nonNegativeInteger"/>
      <xs:element name="enrolledStudents" type="xs:nonNegativeInteger"/>
      <xs:element name="duration"         type="DurationType"/>
      <xs:element name="lessonCount"      type="xs:positiveInteger"/>
      <xs:element name="level"            type="xs:string"/>
      <xs:element name="badge"            type="xs:string"  minOccurs="0"/>
      <xs:element name="certificate"      type="xs:boolean"/>
      <xs:element name="lifetimeAccess"   type="xs:boolean"/>
      <xs:element name="description"      type="xs:string"/>
      <xs:element name="topics"           type="TopicsType"/>
    </xs:sequence>
    <xs:attribute name="id" type="CourseIdType" use="required"/>
  </xs:complexType>

  <!-- ---- InstructorType ---- -->
  <xs:complexType name="InstructorType">
    <xs:sequence>
      <xs:element name="n"             type="xs:string"/>
      <xs:element name="title"         type="xs:string"/>
      <xs:element name="experience"    type="xs:string"/>
      <xs:element name="rating"        type="RatingType"/>
      <xs:element name="totalStudents" type="xs:nonNegativeInteger"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ---- PriceType ---- -->
  <xs:complexType name="PriceType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" type="CurrencyEnum" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ---- DurationType ---- -->
  <xs:complexType name="DurationType">
    <xs:simpleContent>
      <xs:extension base="xs:positiveInteger">
        <xs:attribute name="unit" type="DurationUnitEnum" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ---- TopicsType ---- -->
  <xs:complexType name="TopicsType">
    <xs:sequence>
      <xs:element name="topic" type="xs:string" minOccurs="1" maxOccurs="20"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================
       Simple Types / Restrictions
       ============================================================ -->

  <!-- Course ID must match C followed by 3 digits -->
  <xs:simpleType name="CourseIdType">
    <xs:restriction base="xs:string">
      <xs:pattern value="C[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Rating: 0.0 to 5.0 with 1 decimal place -->
  <xs:simpleType name="RatingType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.0"/>
      <xs:maxInclusive value="5.0"/>
      <xs:fractionDigits value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Discount: 0 – 100 % -->
  <xs:simpleType name="PercentType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Allowed course categories -->
  <xs:simpleType name="CategoryEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Web Development"/>
      <xs:enumeration value="Data Science"/>
      <xs:enumeration value="AI &amp; Machine Learning"/>
      <xs:enumeration value="UI/UX Design"/>
      <xs:enumeration value="Mobile Development"/>
      <xs:enumeration value="Cybersecurity"/>
      <xs:enumeration value="Cloud Computing"/>
      <xs:enumeration value="DevOps"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Supported currencies -->
  <xs:simpleType name="CurrencyEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INR"/>
      <xs:enumeration value="USD"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="GBP"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Duration units -->
  <xs:simpleType name="DurationUnitEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hours"/>
      <xs:enumeration value="minutes"/>
      <xs:enumeration value="days"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
